{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/GrowLand/src/Controller/UserController.php'|file_link(0) }}">src/Controller/UserController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/GrowLand/templates/user/index.html.twig'|file_link(0) }}">templates/user/index.html.twig</a></code></li>
    </ul>
</div>
    {{ form(form) }}
{#    {{ dump(form) }}#}
{#    {{ form(form.userInformation(userType)) }}#}
{#    {{ form_start(form) }}#}
{#    {{ form_row(form.username) }}#}

{#    <ul class="toto">#}
{#        {% for user in form.userInformation %}#}
{#            <li>{{ form_row(user.lastname) }}</li>#}
{#            <li>{{ form_row(user.birthday) }}</li>#}
{#            <li>{{ form_row(user.firstname) }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#    {{ form_end(form) }}#}
{% endblock %}
